.App {
    text-align: center;
    padding: 16px;
    min-height: 100%;
    display: flex;
    background-color: #3af;
}

.root {
    min-height: 100%;
}

.Main {
    flex: 1;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
